<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/images/icon.png">
  <title>Brendon J. Boldt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="backgroundImage"></div>
  <div id="bannerImage"></div>
  <div id="banner">

    <span id="bannerTitle" ><a href="/">Brendon J. Boldt</a></span>
    <div id="bannerText">
      <% first = true %>
      <% Category.all.each do |category| %>
        <%=  if first
              first = false
              ''
             else
              ' | '
             end %>
        <%= link_to category.name, category_path(category.name) %>
      <% end %>
    </div>
  </div>

  <% if params[:controller] == 'welcome' %>
    <div id="welcomeBox">
  <% else %>
    <div id="mainBox">
  <% end %>
    <%= yield %>
  </div>


  <div id="bottomBannerImage"></div>
  <div id="bottomBanner">
    <div id="backgroundSignature">Brendon J. Boldt</div>
    <br>
    <a href="https://github.com/brendon-boldt" target='_blank'>GitHub</a> | 
    <a href="https://linkedin.com/in/brendonjboldt" target='_blank'>LinkedIn</a> | 
    <a href="mailto:brendon_boldt@yahoo.com" target='_blank'>Contact Me</a> |
    <a href=<%=resume_link%> target='_blank'>Resum&#233;</a>
    <br><br>
    Powered by Ruby on Rails and Inspiration
  </div>

</body>
</html>
